li a {
    color: green;
}

h1{
    text-align: center;
    color: green;
    text-decoration: underline;
}

h2{
    color: green;
    text-decoration: underline;
}

ul {
    padding: 30px;
    text-decoration: none;
}

body {
    background: url("img/gears.jpg") no-repeat;
    background-size: 100%;
    color: white;
}