.navbar{
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between; 
}

.navbar a {
    padding: 8px 6px 16px 6px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    
}

.navbar a:hover {
    color: #f1f1f1;
}

body{
    background: url("img/garage.jpg") no-repeat;
    background-size: 100%;
    color: white;
    padding-top: 25px;
}

.list {
    padding-left: 0px;
    padding-top: 50px;
    font-size: 40px;
}

li a {
    color: orange;
}

li a:hover{
    color: green;
}

h1{
    text-align: center;
    color: green;
    text-decoration: underline;
    font-size: 64px;
}

ul {
    padding: 30px;
    text-decoration: none;
}