{% load static %}

<link rel="stylesheet" href="{% static 'garage/style.css' %}">
<title>Garage</title>

<body>
    <div class="navbar">
        <a href="/garage/">Home</a>
        <a href="/garage/create/">Add Motorcycle</a>
        <!-- <a href="/garage/remove/">Remove Motorcycle</a> -->
    </div>
    <section class="list">
        <h1>Garage</h1>

        {% if latest_motorcycle_list %}
            <ul>
            {% for motorcycle in latest_motorcycle_list %}
            <li>
                <a href="{{ motorcycle.id }}/update/"> Edit </a>
                <a href="{{ motorcycle.id }}/delete/"> Delete </a>
                <a href="/garage/{{ motorcycle.id }}/">{{ motorcycle.motorcycle_text }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No motorcycle are available.</p>
        {% endif %}
        <a href="/garage/create/" class="btn btn-primary">Add a new motorcycle</a>

    </section>
</body>